@use "./media-queries";
@use "./variables";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 55.5%; // 10px/18px = 0.5555... * 100 = 55.555...
  scroll-behavior: smooth;
  box-sizing: border-box;
  scroll-behavior: smooth;
  @include media-queries.mediaQuery(viewport1200) {
    font-size: 56.25%;
  }
  @include media-queries.mediaQuery(viewport950) {
    font-size: 50%;
  }
}
body {
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  line-height: 1.3;
  font-size: variables.$fontG1-Default;
  // background-color: tan;
  overflow-x: hidden;
  ::selection {
    background-color: variables.$limeGreen;
    color: variables.$white;
  }
}

a,
a:link,
a:visited {
  text-decoration: none;
}

.hide-element {
  display: none;
}

.wrapper {
  width: 100%;

  position: relative;
  &__1920 {
    width: 192rem;
    margin: 0 auto;
    // background-color: tan;
    position: relative;
    @include media-queries.mediaQuery(viewport1920) {
      width: 100%;
    }
    &--content {
      width: 144rem;
      margin: 0 auto;
      // background-color: peru;
      position: relative;
      @include media-queries.mediaQuery(viewport1300) {
        width: 100%;
      }
      @include media-queries.mediaQuery(viewport1200) {
        padding: 0 6rem;
      }
      @include media-queries.mediaQuery(viewport1000) {
        padding: 0 5rem;
      }
      @include media-queries.mediaQuery(viewport980) {
        padding: 0 4rem;
      }
    }
  }
}

.absolute {
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  padding: 1.2rem;
}

.fixed {
  position: fixed;
  width: 192rem;
  //   color: #fff;
  z-index: 9999;
  display: flex;
  //   justify-content: right;
  //   background-color: blue;
  @include media-queries.mediaQuery(viewport1920) {
    width: 100%;
  }
  &__content {
    width: 100%;
  }
}

.boxed {
  display: flex;
  width: 100%;

  &__row {
    width: 100%;
    flex-direction: row;
    border: 2px solid red;
  }
  &__column {
    height: 100%;
    flex-direction: column;
    border: 2px solid red;
  }
}

.dummy-container {
  height: 74vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide-element {
  display: none;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}
