$color-group-1a: #45260a;
$color-group-1b: #cf711f;
$color-group-1c: #e67e22;
$color-group-1d: #fdf2e9;
$color-group-1e: #fae5d3;
$color-group-1f: #eb984e;

$color-group-2a: #51cf66;
$color-group-2b: #94d82d;
$color-group-2c: #ffd43b;

$color-group-3a: #333333;
$color-group-3b: #555555;
$color-group-3c: #767676;
$color-group-3d: #888888;
$color-group-3e: #dddddd;
$color-group-3f: #6f6f6f;
$color-group-3g: #aaa;
$color-group-3h: #eee;

$color-black: #000000;
$color-white: #ffffff;
