// Colors ///////////
$darkBlue: #2d314d;
$limeGreen: #31d35c;
$brightCyan: #2bb7da;
$grayishBlue: #9698a6;
$lightGrayishBlue: #f3f4f6;
$veryLightGray: #fafafa;
$white: #ffffff;

// Font sizes ///////////
// G1 starts at 1.2rem
$fontG1-Smallest: 1.2rem;
$fontG1-Smaller: 1.4rem;
$fontG1-Small: 1.6rem;
$fontG1-Default: 1.8rem;
$fontG1-Big: 2rem;
$fontG1-Bigger: 2.2rem;
$fontG1-Biggest: 2.4rem;
$fontG1-Large: 2.6rem;
$fontG1-Larger: 2.8rem;
$fontG1-Largest: 3rem;

// G2 starts at 3.2rem
$fontG2-Smallest: 3.2rem;
$fontG2-Smaller: 3.4rem;
$fontG2-Small: 3.6rem;
$fontG2-Default: 3.8rem;
$fontG2-Big: 4rem;
$fontG2-Bigger: 4.2rem;
$fontG2-Biggest: 4.4rem;
$fontG2-Large: 4.6rem;
$fontG2-Larger: 4.8rem;
$fontG2-Largest: 5rem;

// G3 starts at 5.2rem
$fontG3-Smallest: 5.2rem;
$fontG3-Smaller: 5.4rem;
$fontG3-Small: 5.6rem;
$fontG3-Default: 5.8rem;
$fontG3-Big: 6rem;
$fontG3-Bigger: 6.2rem;
$fontG3-Biggest: 6.4rem;
$fontG3-Large: 6.6rem;
$fontG3-Larger: 6.8rem;
$fontG3-Largest: 7rem;

// Widths ///////////
$contentWidth: 144rem;
$gutterWidth: 2rem;

// Transitions ///////////
$transitionDefault: all 0.5s;
