@use "../variables";
@use "../media-queries";

.latest-articles {
  background-color: variables.$white;
  padding: 10rem 0 10rem 0;
  position: relative;
  width: 100%;
  padding: 10rem 2rem;
  &__heading {
    @include media-queries.mediaQuery(viewport780) {
      text-align: center;
    }
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    margin: 4rem 0;
    justify-content: space-between;
    @include media-queries.mediaQuery(viewport570) {
      margin-top: 4rem;
    }
  }
  &__content-item {
    width: 25%;
    padding: 2rem;
    @include media-queries.mediaQuery(viewport990) {
      flex: 0 0 50%;
    }
    @include media-queries.mediaQuery(viewport460) {
      flex: 0 0 100%;
    }
  }
}
